<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static//animasi.css">
    <title>Tangki Sahabat Sentarum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- NAV -->
    <nav>
        <a href="/index"><img src="/static//assets/logo.png" alt="" class="logo"></a>
        <ul id="menu-links">
            <!-- source icon dari https://icons8.com/icons/ -->
            <li class="btn-home"><a href="/index">Home</a></li>
            <li class="btn-product"><a href="/product">Product</a></li>
            <li class="btn-about"><a href="/about">About</a></li>
            <li class="btn-contact"><a href="/contact">Contact</a></li>
        </ul>
        <div class="nav-btn">
            <img src="/static/assets/search.png" alt="" id="Search">
            <form action="/search" method="GET" id="search-input">
                <input type="text" id="term" placeholder="Cari produk..." name="term">
            </form>
        </div>
        <div class="user"><a href="/base"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                        d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z" />
        </svg></a></div>
    </nav>

    <!-- ISI (Cards) -->
    <div class="container">
        <div class="pages">
            <ul>
                <li><a href="/product" class="">Tangki Air</a></li>
                <li><a href="/pipa" class="active">Pipa</a></li>
                <li><a href="/sambungan" class="">Sambungan</a></li>
                <li><a href="/saringan" class="">Bahan Saringan</a></li>
            </ul>
        </div>
        <div id="cards"></div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="footer-kiri">
            <div class="footer-kiri-nama">
                <h2>Toko Tangki<br>Sahabat Sentarum</h2>
            </div>
            <div class="footer-kiri-icon">
                <ul class="footer-kiri-ul">
                    <li><a href="https://www.facebook.com"><img src="/static//assets/logo/facebook.png" alt=""></a></li>
                    <li><a href="https://www.instagram.com/tangkisahabatsentarum/?igshid=YmMyMTA2M2Y%3D"><img
                                src="/static//assets/logo/instagram.png" alt=""></a></li>
                    <li><a
                            href="https://www.tokopedia.com/sahabatsentarumptk?utm_source=whatsapp&utm_medium=share&utm_campaign=Shop-3429207-15390340-040323-contextual_image&_branch_match_id=1249358376514797252&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL8nPzi9ITclM1MvJzMvW9w42Di7OdawMqUgCAPlj0%2FwiAAAA"><img
                                src="/static/assets/logo/icons8-tokopedia-64.png" alt=""></a></li>
                    <li><a
                            href="https://api.whatsapp.com/send?phone=6281256133288&text=Halo%20admin!%20Saya%20ingin%20bertanya%20tentang%E2%80%A6..%20"><img
                                src="/static/assets/logo/icons8-whatsapp-50.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-tengah">
            <div class="footer-kanan-alamat">
                <h2>Alamat Toko</h2>
                <p>
                    Sungai Bangkong, <br>
                    Kec. Pontianak Kota, <br>
                    Kota Pontianak, <br>
                    Kalimantan Barat 78113
                </p>
            </div>
        </div>
        <div class="footer-kanan">
            <div class="footer-kanan-about">
                <h2>About</h2>
                <ul>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>

            </div>
        </div>
        <div class="box box-default">
            <ul class="">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>


    <!-- Animasi Background -->

    <script>
        const products = [
            { id: 1, name: "Rucika AW", img: "/static/assets/product/Rucika AW.png" },
            { id: 2, name: "Rucika D", img: "/static/assets/product/Rucika D.png" },
        ];

        function displayProducts(products) {
            const productList = document.getElementById("cards");
            productList.innerHTML = "";

            products.forEach(product => {
                const productItem = document.createElement("div");
                productItem.innerHTML = `
                <div class="card"> 
                    <img src="${product.img}" alt="">
                    <h3 class="product-name">${product.name}</h3>
                    <a href="https://wa.link/vpgq9o" target ="_blank"><div class="buy-now">BUY NOW!</div></a>
                </div>
                `;
                productList.appendChild(productItem);
            });
        }

        displayProducts(products);

        const searchInput = document.getElementById("search-input");
        searchInput.addEventListener("input", function () {
            const searchKeyword = this.value.toLowerCase();
            const filteredProducts = products.filter(product =>
                product.name.toLowerCase().includes(searchKeyword)
            );
            displayProducts(filteredProducts);
        });
    </script>
</body>

</html>