* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red;  */
}

nav {
    font-size: 20px;
    background: #105098;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul li {
    color: white;
    list-style: none;
    display: inline-block;
    margin: 10px 40px;
    font-weight: 400;
    cursor: pointer;
}

.active {
    font-weight: 600;
}

nav .logo {
    margin-top: 9px;
    width: 100px;
    cursor: pointer;
}

.nav-btn {
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
}

.nav-btn {
    display: flex;
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    width: 240px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    align-items: center;
}

#search-input {
    border: none;
    cursor: text;
}

#search-input:focus {
    border: none;
    cursor: text;
    outline: none;
}

nav input {
    border: none;
    cursor: text;
    outline: none;
}

.nav-btn img {
    width: 16px;
    margin-right: 10px;
}

.header {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 80vh;
    background: white;
    padding: 6% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-about {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 80vh;
    background: white;
    padding: 6% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header-content {
    z-index: 1;
}

.header h1 {
    margin-top: 100px;
    font-size: 4vw;
    line-height: 4vw;
}

.header-about h1 {
    margin-top: 40px;
    font-size: 4vw;
    line-height: 4vw;
}


.btn-container {
    margin: 20px 0;
}

.header button {
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-dark {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #327FD5;
    color: white;
    padding: 10px 10px 10px 30px;
    border-radius: 40px;
}

.btn-dark:hover {
    background-color: #105098;
}

.btn-dark img {
    width: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-left: 30px;
}

.btn-light {
    background: transparent;
    text-decoration: underline;
}

.btn-light img {
    width: 20px;
    margin-left: 10px;
}

.header p {
    max-width: 500px;
    font-weight: 500;
}


.header-about p {

    font-weight: 500;
}

.slider {
    align-items: end;
    top: 30%;
    width: 100%;
    /* border: 1px solid purple; */
    right: 12%;
    z-index: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide img {
    transition: opacity 0.5s ease-in-out;
    top: 27%;
    width: 80%;
    max-width: 300px;
    position: absolute;
    right: 13%;
}

.dots {
    position: absolute;
    top: 68%;
    right: 327px;
}

.previous {
    width: 80%;
    max-width: 19px;
    position: absolute;
    right: 31%;
    padding-left: 5px;
}

.next {
    width: 10%;
    max-width: 20px;
    position: absolute;
    right: 13%;
    margin-right: 5px;
}

.previous,
.next {
    color: transparent;
    top: 45%;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    /* border: 1px solid blue; */
}

.previous:hover,
.next:hover {
    transition: 0.2s ease-in-out;
    color: white;
    top: 45%;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    /* border: 1px solid blue; */
}

.footerdot {
    top: 71%;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.footerdot.active,
.footerdot:hover {
    background-color: black;
}

.header h1 span {
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 50%;
}

.header-about h1 span {
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 50%;
}

.header h1 span:first-child {
    animation: textcolor1 2s linear infinite alternate;
}

.header h1 span:last-child {
    animation: textcolor2 2s linear infinite alternate;
}

@keyframes textcolor1 {
    0% {
        background-size: 0%;
    }

    40% {
        background-size: 100%;
    }

    50% {
        background-size: 100%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes textcolor2 {
    0% {
        background-size: 0%;
    }

    40% {
        background-size: 0%;
    }

    50% {
        background-size: 0%;
    }

    60% {
        background-size: 100%;
    }

    100% {
        background-size: 100%;
    }
}

.menu-icon {
    display: none;
    color: white;
}

/* Background animation */
/* 
.object {
    background: linear-gradient(to right, #105098, #327FD5);
    width: 100%;
    height: 100%;
} */

/* .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

.box ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    /* background: radial-gradient(#327FD5, transparent, transparent); */
    background: linear-gradient(to right, #105098, #327FD5);
    border-radius: 26px;
    filter: blur(3px);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.box ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}

.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}

.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 0.5;
        bottom: 0;
        filter: blur(10px);
    }

    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}


footer {
    /* border: 1px solid purple; */
    background-color: transparent;
    font-size: 20px;
    position: relative;
    height: 150px;
    width: 85%;
    border-top: 2px solid black;
    bottom: 0;
    left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 15px 2%;
}

.footer-kiri {
    margin-top: 12px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-kiri-nama h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.footer-kiri-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer-kiri-icon ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-kiri-icon ul li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

.footer-kiri-icon ul li img {
    width: 28px;
}

.footer-tengah {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-tengah h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-tengah p {
    font-size: 12px;
}

.footer-kanan {
    margin-top: 12px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-kanan h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-kanan p {
    font-size: 12px;
}

.footer-kanan ul li {
    list-style: none;
    line-height: 100%;
}

.footer-kanan ul li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}


/* User */
.user a svg {
    margin-top: 7px;
    position: relative;
    width: 40px;
    height: 40px;
    fill: white;
}