* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: "Poppins", sans-serif;
}

/* For Navbar */
nav {
    font-size: 20px;
    background: #105098;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul li {
    color: white;
    list-style: none;
    display: inline-block;
    margin: 10px 40px;
    font-weight: 400;
    cursor: pointer;
}

.btn-product {
    font-weight: 600;
}

nav .logo {
    margin-top: 9px;
    width: 100px;
    cursor: pointer;
}

.nav-btn {
    display: flex;
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    width: 240px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    align-items: center;
}

#search-input {
    border: none;
    cursor: text;
}

#search-input:focus {
    border: none;
    cursor: text;
    outline: none;
}

.nav-btn img {
    width: 16px;
    margin-right: 10px;
}

/* Buat class active di navbar (yang aktif jadi bold) */
.active {
    font-weight: 600;
}

/* Main */
.container {
    width: 100%;
    max-height: 600px;
    background: white;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.cards {
    display: flex;
    align-items: center;
    justify-content:right;
    border: 0;
    outline: 0;
    z-index: 1;
}

.cards button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.contact-right{
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 20px;
}

.contact-right-title h2{
    font-weight: 500;
    color:#327FD5;
    font-size: 35px;
    margin-bottom: 10px;
}

.contact-right-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:#327FD5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border-color:#FF7A33;
    border-style:solid;
    border-width: 2px;
    outline:#FF7A33;
    font-weight: 500;
    padding-left: 24px;
    border-radius: 100px;
}

.contact-right textarea{
    height: 140px;
    width: 400px;
    padding-top: 15px;
    border-radius: 12px;
    border-width: 2px;
    border-color:#FF7A33;
    border-style: solid ;
    font-weight: 500;
    padding-left: 24px;
    color: #666
}

.contact-inputs:focus{
    border: 3px solid #FF7A33;
}

.contact-inputs:placeholder{
    color:bisque;
}

.contact-right button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    color:#FFFFFF;
    gap: 10px;
    border: none;
    border-radius: 12px;
    background-color: #327FD5;
    cursor: pointer;
}

.contact-right button:hover {
    background-color: #105098;
}

#email, #name {
    border-radius: 12px;
}

.isi {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 15px 90px;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 40px 50px;
    z-index: 1;
}

.links1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    height: 60px;
    border-radius: 10px;
    color: white;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #327FD5;
    text-decoration: none;
    margin: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links img {
    height: 42px;
}

.links:hover {
    background:#105098;
}

.links1 a h3 {
    font-weight: 500;
    font-size: 20px;
}

.links1 a img {
    width: 61px;
}

.links2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 60px;
}

.links2 a h3 {
    font-weight: 500;
    font-size: 20px;
}

.links2 a img {
    width: 61px;
}

/* CSS for Background Animation */
.box {
    position: absolute;
    bottom: 0;
}

.box ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: linear-gradient(to right, #105098, #327FD5); 
    border-radius: 26px; /* biar bulet */
    filter: blur(3px);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

/* CSS footer */
footer {
    font-size: 20px;
    position: relative;
    height: 150px;
    width: 85%;
    border-top: 2px solid black;
    bottom: 0;
    left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 15px 2%;
}

.footer-kiri {
    margin-top: 12px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.footer-kiri-nama h2{
    font-size: 16px;
    font-weight: 700;
    margin: 0 8px;
}

.footer-kiri-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-kiri-icon ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-kiri-icon ul li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

.footer-kiri-icon ul li img {
    width: 28px;
}

.footer-tengah {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.footer-tengah h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-tengah p{
    font-size: 12px;
}

.footer-kanan {
    margin-top: 12px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.footer-kanan h2 {
    font-size: 16px;
    font-weight: 700;
}

.footer-kanan p{
    font-size: 12px;
}

.footer-kanan ul li{
    list-style: none;
    line-height: 100%;
}

.footer-kanan ul li a{
    font-size: 12px;
    text-decoration: none;
    color:black;
}
