* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 420px;
    background: #105098;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 1;
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.container .input {
    position: relative;
    width: 350px;
    height: 50px;
    margin: 30px 0;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input input::placeholder {
    color: white;
    right: 20px;

}

.input svg {
    position: absolute;
    fill: white;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember label {
    display: flex;
    align-items: center;
}

.remember label input {
    accent-color: white;
    margin-right: 3px;
}

.remember a {
    color: white;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.register {
    text-align: center;
    margin: 20px 0 15px;
    font-size: 14px;
}

.register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}